* {
  margin: 0;
  padding: 0;
  background-color: rgb(1, 1, 41);
  color: white;
}
#header {
  text-align: center;
}
#container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#stock-info {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
#myChart {
  background-color: rgba(0, 0, 255, 0.205);
}

#stock-chart {
  background-color: rgba(0, 0, 255, 0.205);
}
#button {
  background: none;
}
#button {
  width: 70%;
  display: flex;
  margin: 1rem 0 1rem 0;
  justify-content: center;
  gap: 2rem;
}
button {
  background-color: blue;
  width: 4rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

button:hover {
  cursor: pointer;
}

#summary {
  margin-top: 1rem;
}
#summary span {
  font-size: 1.5rem;
}
#summary div {
  margin-bottom: 1rem;
}

#stock-list {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 30%;
  gap: 1rem;
}
.list_i {
  display: flex;
  width: 100%;
  gap: 0.6rem;
}
